div{
    background-color: greenyellow;
    text-align: center;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    
}

p{
    color: white;
}

#rodape{
    background-color: black;
}

img{
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 1px solid black;
    
}
.login{
    margin: 5px;
}