html{
        
        align-items: center;
    }
    
    div{
        background-color: rgba(128, 128, 128, 0.266);
        text-align: center;
        width: 300px;
        margin-top: 75px;
        margin-right: auto;
        margin-left: auto;

    }
    
    
    
    #foto{
        width: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 50%;
        border: 1px solid black;
    }
    
    .login{
        margin: 8px;
    }
    
    input{
        width: 250px;
        height: 25px;
    }
    
    button{
        width: 100px;
        height: 20px;
        font-size: 15px;
    }
    